.heroCard {
  background: linear-gradient(145deg, #6d7c9d, #5b1313);
  border: 1px solid #3a3d45;
  border-radius: 12px;
  padding: 20px;
  color: white;
  user-select: none;
  -webkit-user-drag: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  perspective: 1000px;
  margin-bottom: 5px;
  &:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5); // Stronger shadow on hover
    transform: rotateY(15deg);
  }
  img {
    width: 200px;
    height: 200px;
  }
  h2 {
    margin: 0;
  }
  p {
    margin-top: 0;
  }
}

.cardWrapper {
  display: inline-block;
  margin: 20px;
}
.cardHeader {
  font-size: 1.6rem;
  font-weight: bold;
  color: #f0f0f5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
}
.rating {
  width: 140px;
  height: 30px;
  background-color: rgba(105, 110, 113, 0.114);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gray {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: gray;
}

.gold {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: gold;
}
.rate {
  background-color: rgb(238, 232, 114);
  margin: 0 auto;
  position: relative;
  margin-left: 2.5px;
}
.delete {

  background-color: rgba(255, 0, 0, 0.813);
  margin: 0 auto;
  margin-right: 2.5px;

  position: relative;
}
